@font-face {
  font-family: futurabold;
  src: url(../fonts/FuturaStd-Bold.otf);
}

@font-face {
  font-family: futuramed;
  src: url(../fonts/FuturaStd-Medium.otf);
}

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
