@import 'base';
@import 'fonts';
@import 'colors';
@import 'typography';
@import 'structure';
@import 'nav';
@import 'casestudy';

article h3 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.hero-headline {
  font-size: 3rem;
  text-transform: uppercase;
}

.hero-subheadline {
  font-size: 2rem;
  font-family: $bodyfont;
}

.splash {
  height: 700px;
  background-color: $lgray;
  margin: 2rem 0;
}

.stats {
  padding: 0 4rem;
}
.stats h3 {
  color: $cat1;
  font-family: futuramed;
  font-size: 4rem;
}

.stats p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.works figure {
  width: 24%;
  padding-bottom: 16%;
  background-image: url(http://fillmurray.com/300/200);
  background-size: cover;
  position: relative;
}

.works figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: futuramed;
  padding: 1rem;
  text-transform: uppercase;

}
.above h4 {
  font-size: 2rem;
  text-transform: uppercase;
}


.flexwrap > .f50 { width: 50%; }

nav {
  height: 60px;
  width: 100%;
}

.index-hero {
  width: 100%;
  height: 617px;
  background-image: url(http://www.fillmurray.com/1100/617);
  background-size: cover;
  position: relative;
}

.index-hero svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.latest-works article {
  text-align: center;
}

.latest-works div {
  width: 100%;
  height: 1290px;
  flex-wrap: wrap;
  margin: 3rem 0;
}

.latest-works div figure {
  margin-top: 10px;
  height: 427px;
}

.latest-works div figure:first-child {
  width: 67%;
  float: left;
  background-image: url(http://www.fillmurray.com/584/427);
  background-size: cover;
  clear: left;
}

.latest-works div figure:nth-child(2) {
  width: 32%;
  float: right;
  background-image: url(http://www.fillmurray.com/352/427);
  background-size: cover;
  clear: right;
}

.latest-works div figure:nth-child(3) {
  width: 32%;
  float: left;
  background-image: url(http://www.fillmurray.com/352/427);
  background-size: cover;
  clear: left;
}

.latest-works div figure:nth-child(4) {
  width: 67%;
  float: right;
  background-image: url(http://www.fillmurray.com/584/427);
  background-size: cover;
  clear: right;
}

.latest-works div figure:nth-child(5) {
  width: 67%;
  float: left;
  background-image: url(http://www.fillmurray.com/584/427);
  background-size: cover;
  clear: left;
}

.latest-works div figure:nth-child(6) {
  width: 32%;
  float: right;
  background-image: url(http://www.fillmurray.com/352/427);
  background-size: cover;
  clear: right;
}

.latest-works div figure figcaption {
  background-color: rgba(0, 188, 255, 0.8);
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 3em;
  opacity: 0;
}

.latest-works div figure figcaption:hover {
  opacity: 1;
}

.latest-works div figure figcaption h5 {
  font-size: 1rem; 
}

.latest-works div figure figcaption h4 {
  margin-top: 8.7em;
  font-size: 2rem;
}

.about-us article {
  margin: 3rem 0;
  width: 100%;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.about-us figure {
  margin: 3rem 0;
  width: 100%;
  height: 323px;
  flex-flow: row wrap;
  padding: 2rem;
}

.about-us figure img {
  box-sizing: border-box;
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.statistics article  {
  padding-left: 3em;
  padding-right: 3em;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: nowrap;
}

.statistics h3 {
  font-size: 5rem;
  font-family: futuramed;
  text-align: center;
}

.statistics p {
  text-align: center;
}

.statistics figure {
  margin: 3rem 0;
}

.instagram div header a svg path {
  fill: #00BCFF;
}

.instagram div header a svg {
  width: 47px;
  height: 47px;
}

.instagram div header a h3 {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.instagram div header a {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.instagram figure {
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 375px;
  box-sizing: border-box;
  margin: 3rem 0;
}

.instagram figure a {
  height: 50%;
  width: 20%;
  background-image: url(http://www.fillmurray.com/192/188);
  background-size: cover;
}

.contact div article {
  text-align: center;
}

.icons {
  margin: 3rem 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-left: 4rem;
  padding-right: 4rem;
  text-align: center;
}

.icons figure {
  margin-left: 3em;
  margin-right: 3em;
}